name: CI
run-name: CI on ${{ github.ref_name }}

on:
  pull_request:
  workflow_dispatch:

jobs:
  cancel-previoius-runs:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # 0.12.1
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  build-all:
    runs-on: macos-14
    strategy:
      ### <start-matrix-deps>
      matrix:
        gradle: [ 8.5 ]
        kotlin: [ 1.9.22 ]
        exclude: [ ]
      ### <end-matrix-deps>
    steps:
      - name: check out
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: main build
        uses: ./.github/actions/gradle-task
        with:
          task: jar compileKotlin
          write-cache-key: main-build-artifacts

  spotless:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: spotless
        uses: ./.github/actions/gradle-task-with-commit
        with:
          personal-access-token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fix-task: spotlessApply
          check-task: spotlessCheck

  ktlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: ktlint
        uses: ./.github/actions/gradle-task-with-commit
        with:
          personal-access-token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fix-task: ktlintFormat
          check-task: ktlintCheck

  dependency-guard:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: dependency-guard
        uses: ./.github/actions/gradle-task-with-commit
        with:
          personal-access-token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fix-task: dependencyGuardBaseline
          check-task: dependencyGuard

  moduleCheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: moduleCheck
        uses: ./.github/actions/gradle-task-with-commit
        with:
          personal-access-token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fix-task: moduleCheckAuto
          check-task: moduleCheck

  artifacts-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: artifacts-check
        uses: ./.github/actions/gradle-task-with-commit
        with:
          personal-access-token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fix-task: artifactsDump
          check-task: artifactsCheck

  check-version-is-snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: check version is snapshot
        uses: ./.github/actions/gradle-task
        with:
          task: checkVersionIsSnapshot

  detekt:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: detektAll
        uses: ./.github/actions/gradle-task
        with:
          task: detektAll
          restore-cache-key: main-build-artifacts

      - name: merge detekt SARIF reports
        run: ./gradlew detektReportMerge

      - name: Upload SARIF to Github using the upload-sarif action
        uses: github/codeql-action/upload-sarif@e675ced7a7522a761fc9c8eb26682c8b27c42b2b # v3
        if: success() || failure()
        with:
          sarif_file: build/reports/detekt/merged.sarif

  unit-tests-ubuntu:
    runs-on: macos-14
    steps:
      - name: check out
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: unit tests
        uses: ./.github/actions/gradle-task
        with:
          task: test
          restore-cache-key: main-build-artifacts

      - name: Archive test results
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        if: failure()
        with:
          name: test-results-ubuntu
          path: ${{ github.workspace }}/**/build/reports/tests/

      - name: Unit test results
        uses: mikepenz/action-junit-report@5f47764eec0e1c1f19f40c8e60a5ba47e47015c5 # v4
        if: failure()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: "**/build/**/TEST-*.xml"
          check_name: Unit Test Results - ubuntu

  integration-tests-ubuntu:
    runs-on: macos-14
    steps:
      - name: check out
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: integration tests
        uses: ./.github/actions/gradle-task
        with:
          task: integrationTest
          restore-cache-key: main-build-artifacts

      - name: Archive test results
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        if: failure()
        with:
          name: test-results-ubuntu
          path: ${{ github.workspace }}/**/build/reports/tests/

      - name: Integration test results
        uses: mikepenz/action-junit-report@5f47764eec0e1c1f19f40c8e60a5ba47e47015c5 # v4
        if: failure()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: "**/build/**/TEST-*.xml"
          check_name: Integration Test Results - ubuntu

  unit-tests-windows:
    runs-on: windows-latest
    steps:
      - name: check out
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: unit tests
        uses: ./.github/actions/gradle-task
        with:
          task: test
          restore-cache-key: main-build-artifacts

      - name: Archive test results
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        if: failure()
        with:
          name: test-results-windows
          path: ${{ github.workspace }}/**/build/reports/tests/

      - name: unit test results
        uses: mikepenz/action-junit-report@5f47764eec0e1c1f19f40c8e60a5ba47e47015c5 # v4
        if: failure()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: "**/build/**/TEST-*.xml"
          check_name: Unit Test Results - windows

  integration-tests-windows:
    runs-on: windows-latest
    steps:
      - name: check out
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: integration tests
        uses: ./.github/actions/gradle-task
        with:
          task: integrationTest
          restore-cache-key: main-build-artifacts

      - name: Archive test results
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        if: failure()
        with:
          name: test-results-windows
          path: ${{ github.workspace }}/**/build/reports/tests/

      - name: Integration test results
        uses: mikepenz/action-junit-report@5f47764eec0e1c1f19f40c8e60a5ba47e47015c5 # v4
        if: failure()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: "**/build/**/TEST-*.xml"
          check_name: Integration Test Results - windows

  all-green:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - artifacts-check
      - check-version-is-snapshot
      - dependency-guard
      - detekt
      - integration-tests-ubuntu
      - integration-tests-windows
      - ktlint
      - moduleCheck
      - spotless
      - unit-tests-ubuntu
      - unit-tests-windows

    steps:
      - name: require that all other jobs have passed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
